* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  /*border: red solid 1px;*/
}

:root {
  --main-white: #efdebf;
  --light-green: #72947f;
  --dark-green: #3f5d4d;
  --light-blue: #2f4442;
  --dark-blue: #222021;
}

html {
  height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

header {
}

#logo {
  width: 50px;
}

nav {
  display: flex;
  height: 80px;
  background-color: rgba(47, 68, 66, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-white);
  padding: 0px 10%;
  font-size: 20px;
}

#steampage {
  border: #efdebf solid 1.5px;
  padding: 12px;
  border-radius: 10px;
  background-color: rgba(114, 148, 127, 0.25);
  color: rgba(239, 222, 191, 1);
  transition: background-color 0.3s ease;
}

#steampage:hover {
  background-color: rgba(47, 68, 66, 1);
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: clamp(20px, 10vw, 600px);
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--main-white);
  align-items: center;
  justify-content: space-evenly;
}

p {
  text-align: center;
  font-size: 32px;
  max-width: 50%;
}

img {
  max-width: 80%;
}

.herobuttons {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 32px;
  text-align: center;
}

#playtester {
  background-color: rgba(239, 222, 191, 0.5);
  color: #efdebf;
  padding: 20px;
  border-radius: 15px;
  transform: scale(1);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

#playtester:hover {
  transform: scale(1.05);
  background-color: rgba(239, 222, 191, 0.75);
  color: #efdebf;
  text-decoration: none;
}

#learn {
  background-color: rgba(114, 148, 127, 0.25);
  color: #efdebf;
  padding: 20px;
  border-radius: 15px;
  margin-left: 100px;
  transform: scale(1);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

#learn:hover {
  transform: scale(1.05);
  background-color: rgba(47, 68, 66, 0.75);
  text-decoration: none;
}
